<div class="container mt-5">
  <div *ngIf="!registerMode" style="text-align: center">
    <h1>ASP .Net and Angular</h1>
    <p class="lead">Register and account and take a look around.</p>
    
    <div class="text-center">
      <button class="btn btn-primary mr-4"
              (click)="registertoggle()">Register</button>
     
    </div>
  </div>

  <div *ngIf="registerMode"  class="container">
    <div class="row justify-content-center">
      <div class="col-4">
          <app-register (cancelRegister)="cancelRegisterMode($event)"></app-register>
      </div>
    </div>
  </div>
</div>

<div class="container mt-5 p-10">
  <h4>Here are a few of the features included in the app:</h4>
    <ol>
      <li>Token based authentication.</li>
      <li>Basic search functionality.</li>
      <li>Ability to upload photos to Cloudinary.</li>
      <li>A "Like" feature.</li>
      <li>Private message system.</li>

    </ol>
</div>

