<div class="card mb-4">
  <div class="cards-img-wrapper">
    <img class="card-img-top" src="{{user.photoUrl || '../../../assets/images/user.png'}}" alt="{{user.knownAs}}">
    <ul class="list-inline rink-icons animate text-center">
      <li class="list-inline-item">

        <!-- Adding a param into a router link URL -->
        <button class="btn btn-primary" [routerLink]="['/rinks/' , user.id]">
          <i class="fa fa-user"></i>
        </button>
      </li>

      <li class="list-inline-item">
        <button class="btn btn-primary" (click)="sendFollow(user.id)">
          <i class="fa fa-thumbs-up"></i>
        </button>
      </li>
      <li class="list-inline-item">
        <button class="btn btn-primary">
          <i class="fa fa-envelope-square"></i>
        </button>
      </li>
    </ul>
  </div>
  <div class="card-body p-1">
    <h6 class="card-title text-center mb-1">
      <i class="fa fa-user"></i>
      {{user.knownAs}}
    </h6>
    <p class="card-text text-muted text-center">
        {{user.playerPosition}}
    </p>
    <p class="card-text text-muted text-center">
      Created: 
      {{user.created | date}}
  </p>
  <p class="card-text text-muted text-center">
    Last Active: 
    {{user.lastActive | date}}
</p>
  </div>
</div>